<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add GiaoVien</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">

	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">THÊM SINH VIÊN</div>
			<div class="card-body">




				<div align="center">
					

					<form th:action="@{/save-sv}" method="POST" th:object="${addSV}">
						<div class="form-group">
							<div class="form-label-group">
								 <input class="form-control" th:field="*{name}" required />
								<label for="name">Tên Sinh Vien <span style="color: red">*</span></label>
							</div>
						</div>

						<div class="form-group">
							<div class="form-label-group">
								<input class="form-control" th:field="*{birth}" />
								<label for="tuoi">Tuoi</label>
							</div>
						</div>


						<div class="form-group">
							
								<label>Chọn Lớp <span style="color: red">*</span></label> <select th:field="*{lop.id}">
									<option th:each="lop: ${listclas}" th:value="${lop.id}"
										th:text="${lop.name}" />
								</select>

							
						</div>
							<div class="form-group">
							
								<label>Chọn Giáo Viên <span style="color: red">*</span></label> <select th:field="*{gv.id}">
									<option th:each="gv: ${gv}" th:value="${gv.id}"
										th:text="${gv.name}" />
								</select>

							
						</div>
						
						


		
							<div class="form-group">
							
								<label>Chọn Môn Học<span style="color: red">*</span></label> <select th:field="*{sub.id}">
									<option th:each="sub: ${sub1}" th:value="${sub.id}"
										th:text="${sub.name}" />
								</select>

							
						</div>
						
						



						<div class="form-group ">
							<div class="form-label-group">
								<input class="form-control " th:field="*{sdt}" required/>
								<label for="sdt">SDT <span style="color: red">*</span></label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-label-group">
								<input class="form-control" th:field="*{email}" required />
								<label for="email">Email <span style="color: red">*</span></label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-label-group">
								<input class="form-control" th:field="*{address}" required/>
								<label for="address">Dia Chi <span style="color: red">*</span></label>
							</div>
						</div>

						
								<input type="radio" th:field="*{gender}" th:value="NAM" required /> <span style="color: red">*</span>
								<label	th:text="NAM" /> 
									<input type="radio" th:field="*{gender} "
									th:value="NU" required /> <span style="color: red">*</span><label th:text="NU" />
									
									 <div class="form-group">
							<div class="form-label-group">
								<input class="form-control" th:field="*{score}" required/>
								<label for="score">SCORE <span style="color: red">*</span></label>
							</div>
						</div>
							

						<div class="form-group">
							<div class="form-label-group">
								<input class="form-control" th:field="*{detail}" /> <br />
								<label for="name">Ghi Chu</label>
								<br />
							</div>
						</div>
						<input class="btn btn-primary btn-block" type="submit"
							value="Submit" />
					</form>
					
					
				</div>


			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>

