<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DS Lop</title>
</head>
<body>
<div align="center">
    <h2></h2>

    <h1>List Sinh Vien</h1>

    <br/>
    <table border="1">
        <tr>
            <th>MaSV</th>
            <th>Ten SV</th>
            <th>Giáo Viên</th>
            <th>Tên Giáo Viên</th>
        </tr>
        <th:block th:each="listsv :${gv_sv}">
            <tr>
                <td><p th:text="${listsv.getSinhVien().id}"></p></td>
                <td><p th:text="${listsv.getSinhVien().name}"></p></td>
                <td><p th:text="${listsv.getGiaoVien().id}"></p></td>
                <td><p th:text="${listsv.getGiaoVien().name}"></p></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>